<div class="main-content " >
    <div class="container-fluid card">
      <div class="row">
            <div class="alert-msg">
               <app-alert></app-alert>
            </div>
      </div>
  <form #f="ngForm" novalidate (ngSubmit)="changepassword(f.value, f.valid)">
     <div class="header">
        <h4 class="title">Login Password Details</h4>
    </div>
    <div class="content col-md-7">
        <div class="form-group ">
          <label for="">Old Password</label>
          <input type="password" class="form-control" name="oldpassword" [ngModel]="credentials.oldpassword" 
            required  #oldpassword="ngModel">
          <small [hidden]="oldpassword.valid || (oldpassword.pristine && !f.submitted)" class="text-danger">
            Old Password is required
          </small>
          
        </div>
        
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" class="form-control" name="password" [ngModel]="credentials.password" 
            required validateEqual="confirmPassword" reverse="true" #password="ngModel">
          <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
            Password is required
          </small>
          
        </div>
        <div class="form-group">
          <label for="">Retype password</label>
          <input type="password" class="form-control" name="confirmPassword" [ngModel]="credentials.confirmPassword" 
            required validateEqual="password" reverse="false" #confirmPassword="ngModel">
          <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
            Password mismatch
          </small>
          
        </div>
        <button type="submit" class="btn btn-info btn-fill ">Update Password</button>
    </div>
    
    </form>

      <!--<form name="form" (ngSubmit)="f.form.valid && savePassword()" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-2">
          </div>
            <div class="col-md-7">
                <div class="card" >
                    <div class="header">
                        <h4 class="title">Login Details</h4>
                    </div>
                    <div class="content">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
                                        <label>Old Password </label>
                                        <input type="password" class="form-control"  value="{{ credentials.old_password }}" name="old_password" [(ngModel)]="credentials.old_password" #old_password="ngModel" required />
                                         <div *ngIf="f.submitted && !old_password.valid" class="help-block">Old Password is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !old_password.valid }">
                                        <label>New Password </label>
                                        <input type="password" class="form-control"  value="{{ credentials.new_password }}" name="new_password" [(ngModel)]="credentials.new_password" #new_password="ngModel" required />
                                         <div *ngIf="f.submitted && !new_password.valid" class="help-block">New Password is required</div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !old_password.valid }">
                                       <label>Confirm Password</label>
                                        <input type="password" class="form-control"  value="{{ credentials.confirm_password }}" name="confirm_password" [(ngModel)]="credentials.confirm_password" #confirm_password="ngModel" required />
                                         <div *ngIf="f.submitted && !confirm_password.valid" class="help-block">Confirm Password is required</div>
                                    </div>

                                </div>
                            </div>
                           
                       
                     </div>
                    </div>
                </div>
              <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <button class="btn btn-info btn-fill pull-right">Update Password Details</button>
                  </div>
            </div>
        </div>
        <div class="clearfix"></div>    
        </form>-->
    </div>
</div>
