<div class="wrapper" >
    <div class="sidebar" data-color="red" data-image="" *ngIf="applicationService.getIsLoggedin()">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div>
    </div>
    <div [ngClass]="{'main-panel': applicationService.getIsLoggedin() }" class=" login-panel">
        <app-navbar *ngIf="applicationService.getIsLoggedin()"></app-navbar>
        <router-outlet></router-outlet>
            <p><strong>{{idleState}}</strong></p>
<button (click)="reset()" *ngIf="timedOut">Restart</button>
    </div>


</div>