.sub-nav{
    list-style: none;
}
.sub-nav li a:hover{
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
}
.sub-nav li a{
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}
.sub-nav li .actived {
    background: rgba(255, 255, 255, 0.43) !important;
}