    <div class="sidebar-wrapper" *ngIf="isLogin">
        <div class="logo">
            <a routerLink="" class="simple-text">
                <div class="logo-img">
                    <img src="assets/img/logo.png"/>
                </div>
               Sync Skill
            </a>
        </div>
        <ul class="nav">
            <li >
                <a routerLink="/dashboard" >
                    <i class="#"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li >
                <a  routerLink="/profile" >
                    <i class="#"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li >
                <a routerLink="/user" >
                    <i class="#"></i>
                    <p>User Management</p>
                </a>
            </li>
            <li >
                 <a routerLink="/employee" >
                    <i class="#"></i>
                    <p>Employee Management</p>
                </a>
            </li>
            <li >
                <a routerLink="/skill" >
                    <i class="#"></i>
                    <p>Skill Management</p>
                </a>
            </li>
            
        </ul>
    </div>
